<div class="panels">
<section class="main" fxLayout="column" fxLayoutAlign="center">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        "ar" Verbs Structure
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- PronounColumn -->
      <ng-container matColumnDef="pronoun">
        <th mat-header-cell *matHeaderCellDef> Pronoun </th>
        <td mat-cell *matCellDef="let element"> {{element.pronoun}} </td>
      </ng-container>
    
      <!-- Rule Column -->
      <ng-container matColumnDef="rule">
        <th mat-header-cell *matHeaderCellDef> Rule </th>
        <td class="middle" mat-cell *matCellDef="let element"> {{element.rule}} </td>
      </ng-container>
    
      <!-- Example Column -->
      
        <ng-container matColumnDef="example">
          <th mat-header-cell *matHeaderCellDef> Example: to dance </th>
          <td class="end" mat-cell *matCellDef="let element"> {{element.example}} </td>
        </ng-container>
      
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
 
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="title">
      "er" Verbs Structure
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- PronounColumn -->
    <ng-container matColumnDef="pronoun">
      <th mat-header-cell *matHeaderCellDef> Pronoun </th>
      <td mat-cell *matCellDef="let element"> {{element.pronoun}} </td>
    </ng-container>
  
    <!-- Rule Column -->
    <ng-container matColumnDef="rule">
      <th mat-header-cell *matHeaderCellDef> Rule </th>
      <td class="middle" mat-cell *matCellDef="let element"> {{element.rule}} </td>
    </ng-container>
  
    <!-- Example Column -->
    
      <ng-container matColumnDef="example">
        <th mat-header-cell *matHeaderCellDef> Example: to drink </th>
        <td class="end" mat-cell *matCellDef="let element"> {{element.example}} </td>
      </ng-container>
    
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

</mat-expansion-panel>
  
  

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Verb "to be"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item> SER – PERMANENT</mat-list-item>
        <mat-list-item> Eu sou </mat-list-item>
        <mat-list-item> Você é </mat-list-item>
        <mat-list-item> Ele/Ela é </mat-list-item>
        <mat-list-item> Nós somos/A gente é </mat-list-item>
        <mat-list-item> Vocês são </mat-list-item>
        <mat-list-item> Eles/Elas são </mat-list-item>
      </mat-list>
  
      <mat-list>
        <mat-list-item> ESTAR – TEMPORARY</mat-list-item>
        <mat-list-item> Eu estou </mat-list-item>
        <mat-list-item> Você está </mat-list-item>
        <mat-list-item> Ele/Ela está</mat-list-item>
        <mat-list-item> Nós estamos/A gente está</mat-list-item>
        <mat-list-item> Vocês estão</mat-list-item>
        <mat-list-item> Eles/Elas estão</mat-list-item>
      </mat-list>     
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Verb "to go"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list>
        <mat-list-item> Eu vou </mat-list-item>
        <mat-list-item> Você vai </mat-list-item>
        <mat-list-item> Ele/Ela vai</mat-list-item>
        <mat-list-item> Nós vamos/A gente vai</mat-list-item>
        <mat-list-item> Vocês vão</mat-list-item>
        <mat-list-item> Eles/Elas vão</mat-list-item>
      </mat-list>   
    </mat-list>
   
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Verb "to have"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list>
        <mat-list-item> Eu tenho </mat-list-item>
        <mat-list-item> Você tem </mat-list-item>
        <mat-list-item> Ele/Ela tem</mat-list-item>
        <mat-list-item> Nós temos/A gente tem</mat-list-item>
        <mat-list-item> Vocês têm</mat-list-item>
        <mat-list-item> Eles/Elas têm</mat-list-item>
      </mat-list>   
    </mat-list>
  </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Verb "to like"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list>
          <mat-list-item> Eu gosto </mat-list-item>
          <mat-list-item> Você gosta </mat-list-item>
          <mat-list-item> Ele/Ela gosta</mat-list-item>
          <mat-list-item> Nós gostamos/A gente gosta</mat-list-item>
          <mat-list-item> Vocês gostam</mat-list-item>
          <mat-list-item> Eles/Elas gostam</mat-list-item>
        </mat-list>   
      </mat-list>
   
  </mat-expansion-panel>

</section>
</div>