<div class="panels">
<section class="main" fxLayout="column" fxLayoutAlign="center">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Verb "to be"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item> SER – PERMANENT</mat-list-item>
        <mat-list-item> Eu sou </mat-list-item>
        <mat-list-item> Você é </mat-list-item>
        <mat-list-item> Ele/Ela é </mat-list-item>
        <mat-list-item> Nós somos/A gente é </mat-list-item>
        <mat-list-item> Vocês são </mat-list-item>
        <mat-list-item> Eles/Elas são </mat-list-item>
      </mat-list>
  
      <mat-list>
        <mat-list-item> ESTAR – TEMPORARY</mat-list-item>
        <mat-list-item> Eu estou </mat-list-item>
        <mat-list-item> Você está </mat-list-item>
        <mat-list-item> Ele/Ela está</mat-list-item>
        <mat-list-item> Nós estamos/A gente está</mat-list-item>
        <mat-list-item> Vocês estão</mat-list-item>
        <mat-list-item> Eles/Elas estão</mat-list-item>
      </mat-list>     
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Verb "to go"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list>
        <mat-list-item> Eu vou </mat-list-item>
        <mat-list-item> Você vai </mat-list-item>
        <mat-list-item> Ele/Ela vai</mat-list-item>
        <mat-list-item> Nós vamos/A gente vai</mat-list-item>
        <mat-list-item> Vocês vão</mat-list-item>
        <mat-list-item> Eles/Elas vão</mat-list-item>
      </mat-list>   
    </mat-list>
   
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Verb "to have"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list>
        <mat-list-item> Eu tenho </mat-list-item>
        <mat-list-item> Você tem </mat-list-item>
        <mat-list-item> Ele/Ela tem</mat-list-item>
        <mat-list-item> Nós temos/A gente tem</mat-list-item>
        <mat-list-item> Vocês têm</mat-list-item>
        <mat-list-item> Eles/Elas têm</mat-list-item>
      </mat-list>   
    </mat-list>
   
  </mat-expansion-panel>

</section>
</div>