
mat-expansion-panel {
  margin: 20px; 
}

table {
  width: 100%;
}

.middle {
  display: flex; 
  background-color: lightgrey;
  justify-content: center;
  height: 50px; 
  line-height: 50px;  
}

.end {
  text-align: center;
  height: 50px; 
  line-height: 50px; 
  
}