<section class="main" fxLayout fxLayoutAlign="center">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="title">
        Verb To Be
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item> SER – PERMANENT STATE (USUALLY) </mat-list-item>
      <mat-list-item> Eu sou </mat-list-item>
      <mat-list-item> Você/Ele/Ela é </mat-list-item>
      <mat-list-item> Nós somos/A gente é </mat-list-item>
      <mat-list-item> Vocês/Eles/Elas são </mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item> ESTAR – TEMPORARY STATE </mat-list-item>
      <mat-list-item> Eu estou </mat-list-item>
      <mat-list-item> Você/Ele/Ela está </mat-list-item>
      <mat-list-item> Nós estamos </mat-list-item>
      <mat-list-item> Vocês/Eles/Elas estão</mat-list-item>
    </mat-list>     
</mat-expansion-panel>


</section>