<form 
  fxLayout="column"
  [formGroup]="exercise1" 
  (ngSubmit)="onSubmit(exercise1.value)">
    <label>
      1. Eu 
      
      <mat-form-field>
        <input 
      name="answer1" 
      type="text" 
      id="answer1" 
      matInput
      formControlName="answer1"></mat-form-field>
      ao cinema <span class="translation">(I'll go to the movies)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnswered">
      <p *ngIf="answerOneCorrect" class="right">Correct</p>
      <p *ngIf="!answerOneCorrect" class="wrong">Incorrect</p>
    </div>
  
    
    <label>
      2. Ele 
      <mat-form-field>
      <input 
      name="answer2" 
      type="text" 
      id="answer2" 
      matInput
      formControlName="answer2"></mat-form-field>
      ao shopping hoje. <span class="translation">(He'll go to the mall today)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnswered">
      <p *ngIf="answerTwoCorrect" class="right">Correct</p>
      <p *ngIf="!answerTwoCorrect" class="wrong">Incorrect</p>
    </div>
  
  
    
    <label>
      3. Nós 
      <mat-form-field>
      <input 
      name="answer3" 
      type="text" 
      id="answer3" 
      matInput
      formControlName="answer3"></mat-form-field>
      à Itália ano que vem. <span class="translation">(We'll go to Italy next year)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnswered">
      <p *ngIf="answerThreeCorrect" class="right">Correct</p>
      <p *ngIf="!answerThreeCorrect" class="wrong">Incorrect</p>
    </div>
    
    
    <label>
      4. Eu
      <mat-form-field>
      <input 
      name="answer4" 
      type="text" 
      id="answer4" 
      matInput
      formControlName="answer4"></mat-form-field>
      ao banheiro <span class="translation">(I'll go to the toilet)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnswered">
      <p *ngIf="answerFourCorrect" class="right">Correct</p>
      <p *ngIf="!answerFourCorrect" class="wrong">Incorrect</p>
    </div>
    
    <label>5.
       Eles 
      <mat-form-field>
       <input 
      name="answer5" 
      type="text" 
      id="answer5" 
      matInput
      formControlName="answer5"></mat-form-field>
      ao baile hoje à noite. <span class="translation">(They'll go to the dance tonight)</span>
    </label>
    
  
    <div class="questionResult" *ngIf="isAnswered">
      <p *ngIf="answerFiveCorrect" class="right">Correct</p>
      <p *ngIf="!answerFiveCorrect" class="wrong">Incorrect</p>
    </div>
    <button *ngIf="!isAnswered" type="submit" mat-raised-button color="primary" >Submit</button>

    <div *ngIf="isAnswered">
      You answered {{ this.result }} questions correctly
    </div>

    <button *ngIf="isAnswered" type="submit" mat-raised-button color="primary"  (click)="resetForm()">
      Try Again
    </button>
  </form>
  
