<section class="exercises" *ngIf="exerciseForm">
  <form
    fxLayout="column"
    fxLayoutGap="500px"
    [formGroup]="exerciseForm"
    (ngSubmit)="onSubmit(exerciseForm.value)"
  >
    <!-- <ul *ngFor="let exercise of exerciseTest | async"></ul> -->
    <div *ngFor="let instruction of instructions">
      {{ instruction.instruction }}
      <ul *ngFor="let question of exerciseTest">
        <li>
          {{ question.prefix }}
          <mat-form-field>
            <input
              name="answer"
              type="text"
              id="answer"
              matInput
              [formControlName]=""
            >
          </mat-form-field>
          
          {{ question.sufix }} 
          <mat-form-field>
            <input
              name="answer"
              type="text"
              id="answer"
              matInput
              [formControlName]=""
            >
          </mat-form-field>
          {{ question.translation }}
          <div *ngIf="isAnswered">
            <div *ngIf="question.result"><p>Correct</p></div>
            <div *ngIf="!question.result"><p>Incorrect</p></div>
          </div>
        </li>
      </ul>
      </div>
    <button *ngIf="!isAnswered" type="submit" mat-raised-button color="primary">Submit</button>
    <button *ngIf="isAnswered" type="submit" mat-raised-button color="primary"  (click)="resetForm()">
      Try Again
    </button>
  </form>
</section>
