<mat-tab-group>
  <mat-tab label="Exercise 1">
    <app-exercise1></app-exercise1>
  </mat-tab>
  <mat-tab label="Exercise 2">
    <app-exercise2></app-exercise2>
  </mat-tab>
  <mat-tab label="Exercise 3">
    <app-exercise3></app-exercise3>
  </mat-tab>
  <mat-tab label="Exercise 4">
    <app-exercise4></app-exercise4>
  </mat-tab>
  <mat-tab label="Exercise 5">
    <app-exercise5></app-exercise5>
  </mat-tab>
  <mat-tab label="Exercise 6">
    <app-exercise6></app-exercise6>
  </mat-tab>
</mat-tab-group>

