
<section class="exercises">
  Using the verb conjugation you learned in the "Verb to Be - Present Tense"
section, complete the following phrases with the correct conjugation:
  <form 
  fxLayout="column"
  [formGroup]="exercise2" 
  (ngSubmit)="onSubmitTwo(exercise2.value)">
    <label>
      1. Eu 
      
      <mat-form-field>
        <input 
      name="answer1" 
      type="text" 
      id="answer1" 
      matInput
      formControlName="answer1"></mat-form-field>
      ao cinema <span class="translation">(I'll go to the movies)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredTwo">
      <p *ngIf="answerSixCorrect" class="right">Correct</p>
      <p *ngIf="!answerSixCorrect" class="wrong">Incorrect</p>
    </div>
  
    
    <label>
      2. Ele 
      <mat-form-field>
      <input 
      name="answer2" 
      type="text" 
      id="answer2" 
      matInput
      formControlName="answer2"></mat-form-field>
      ao shopping hoje. <span class="translation">(He'll go to the mall today)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredTwo">
      <p *ngIf="answerSevenCorrect" class="right">Correct</p>
      <p *ngIf="!answerSevenCorrect" class="wrong">Incorrect</p>
    </div>
  
  
    
    <label>
      3. Nós 
      <mat-form-field>
      <input 
      name="answer3" 
      type="text" 
      id="answer3" 
      matInput
      formControlName="answer3"></mat-form-field>
      à Itália ano que vem. <span class="translation">(We'll go to Italy next year)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredTwo">
      <p *ngIf="answerEightCorrect" class="right">Correct</p>
      <p *ngIf="!answerEightCorrect" class="wrong">Incorrect</p>
    </div>
    
    
    <label>
      4. Eu
      <mat-form-field>
      <input 
      name="answer4" 
      type="text" 
      id="answer4" 
      matInput
      formControlName="answer4"></mat-form-field>
      ao banheiro <span class="translation">(I'll go to the toilet)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredTwo">
      <p *ngIf="answerNineCorrect" class="right">Correct</p>
      <p *ngIf="!answerNineCorrect" class="wrong">Incorrect</p>
    </div>
    
    <label>5.
       Eles 
      <mat-form-field>
       <input 
      name="answer5" 
      type="text" 
      id="answer5" 
      matInput
      formControlName="answer5"></mat-form-field>
      ao baile hoje à noite. <span class="translation">(They'll go to the dance tonight)</span>
    </label>
    
  
    <div class="questionResult" *ngIf="isAnsweredTwo">
      <p *ngIf="answerTenCorrect" class="right">Correct</p>
      <p *ngIf="!answerTenCorrect" class="wrong">Incorrect</p>
    </div>
    <button *ngIf="!isAnsweredTwo" type="submit" mat-raised-button color="primary" >Submit</button>

    <div *ngIf="isAnsweredTwo">
      You answered {{ this.result2 }} questions correctly
    </div>

    <button *ngIf="isAnsweredTwo" type="submit" mat-raised-button color="primary"  (click)="resetFormTwo()">
      Try Again
    </button>
  </form>
  
  
  <form 
  fxLayout="column"
  fxLayoutGap="2px"
  [formGroup]="exercise1" 
  (ngSubmit)="onSubmit(exercise1.value)">
    
    <label>
      1. Eu
      <mat-form-field>
      <input 
      name="answer1" 
      type="text" 
      id="answer1" 
      matInput
      formControlName="answer1"></mat-form-field>
      gordo <span class="translation">(I'm fat)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredOne">
      <p *ngIf="answerOneCorrect" class="right">Correct</p>
      <p *ngIf="!answerOneCorrect" class="wrong">Incorrect</p>
    </div>
  
  
    
    <label>
      2. Ela
      <mat-form-field>
      <input 
      name="answer2" 
      type="text" 
      id="answer2" 
      matInput
      formControlName="answer2"></mat-form-field>
      advogada.<span class="translation"> (She's a lawyer)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredOne">
      <p *ngIf="answerTwoCorrect" class="right">Correct</p>
      <p *ngIf="!answerTwoCorrect" class="wrong">Incorrect</p>
    </div>
  
  
    
    <label>
      3. Ele
      <mat-form-field>
      <input 
      name="answer3" 
      type="text" 
      id="answer3" 
      matInput
      formControlName="answer3"></mat-form-field>
      chato <span class="translation">(He's annoying)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredOne">
      <p *ngIf="answerThreeCorrect" class="right">Correct</p>
      <p *ngIf="!answerThreeCorrect" class="wrong">Incorrect</p>
    </div>
  
  
    
    <label>
      4. Você
      <mat-form-field>
      <input 
      name="answer4" 
      type="text" 
      id="answer4" 
      matInput
      formControlName="answer4"></mat-form-field>
      atrasado <span class="translation">(You're late)</span>
    </label>
    
    <div class="questionResult" *ngIf="isAnsweredOne">
      <p *ngIf="answerFourCorrect" class="right">Correct</p>
      <p *ngIf="!answerFourCorrect" class="wrong">Incorrect</p>
    </div>
    
    <label>
      5. Ela
      <mat-form-field>
      <input 
      name="answer5" 
      type="text" 
      id="answer5" 
      matInput
      formControlName="answer5"></mat-form-field>
      suada <span class="translation">(She's sweaty)</span>
    </label>
    
  
    <div class="questionResult" *ngIf="isAnsweredOne">
      <p *ngIf="answerFiveCorrect" class="right">Correct</p>
      <p *ngIf="!answerFiveCorrect" class="wrong">Incorrect</p>
    </div>
  
    <button *ngIf="!isAnsweredTwo" type="submit" mat-raised-button color="primary" >Submit</button>
    <div *ngIf="isAnsweredTwo">
      You answered {{ this.result }} questions correctly
    </div>
    <button *ngIf="isAnsweredTwo" type="submit" mat-raised-button color="primary"  (click)="resetForm()">
      Try Again
    </button>
  </form>
  
  
</section>
