<section class="exercises">
  <form
    fxLayout="column"
    fxLayoutGap="2px"
    [formGroup]="exerciseForm"
    (ngSubmit)="onSubmit(exerciseForm.value)"
  >
    <ul *ngFor="let exercise of exercises">
      <li>{{ exercise.instruction }}</li>
      <ul *ngFor="let question of exercise.questions; let i = index">
        <li>
          <span>{{ question.id.toString() }} - </span>
          {{ question.prefix }}
          <mat-form-field>
            <input
              name="answer"
              type="text"
              id="answer"
              matInput
              [formControlName]="question.id"
              
            />
          </mat-form-field>
          {{ question.sufix }} -
          <span class="translation">{{ question.translation }}</span>
          <div *ngIf="isAnswered">
            <div *ngIf="question.result" class="right"><p>Correct</p></div>
            <div *ngIf="!question.result" class="wrong"><p>Incorrect</p></div>
          </div>
          
        </li>
      </ul>
    </ul>
    <button 
    *ngIf="!isAnswered" 
    type="submit" 
    mat-raised-button 
    color="primary"
    [disabled]="exerciseForm.invalid"
    >Submit</button>
    <div *ngIf="isAnswered">
      You answered {{ result }} questions correctly
    </div>
    <button *ngIf="isAnswered" type="submit" mat-raised-button color="primary"  (click)="resetForm()">
      Try Again
    </button>
    
  </form>
</section>

