<section class="exercises" *ngIf="exerciseForm">
  <form
    fxLayout="column"
    fxLayoutGap="2px"
    [formGroup]="exerciseForm"
    (ngSubmit)="onSubmit(exerciseForm.value)"
  >
    <!-- <ul *ngFor="let exercise of exerciseTest | async"></ul> -->
    <div *ngFor="let instruction of instructions">
      {{ instruction.instructions }}
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div *ngFor="let question of exerciseTest">
        
          {{ question.prefix }}
          <mat-form-field>
            <input
              name="answer"
              type="text"
              id="answer"
              matInput
              [formControlName]="question.prefix"
            />
          </mat-form-field>
          {{ question.sufix }}
          <div *ngIf="isAnswered">
            <div *ngIf="question.result" class="right"><p>Correct</p></div>
            <div *ngIf="!question.result" class="wrong"><p>Incorrect</p></div>
          </div>
          {{ instruction.translation }}
        </div>
      </div>
     
    </div>
    <button 
    *ngIf="!isAnswered" 
    type="submit" 
    mat-raised-button color="primary" 
    [disabled]="exerciseForm.invalid">
      Submit
    </button>
    <div *ngIf="isAnswered">
      You answered {{ result }} questions correctly
    </div>
    <button
      *ngIf="isAnswered"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="resetForm()"
    >
      Try Again
    </button>
  </form>
</section>
